*{padding:0;margin:0; font-family: "monospace","Arial","Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif; }
        body{background-color: #f0f0f0}
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
            color:#222;
        }
        a:hover{
            color:#33454d;
        }
        img{
            max-width: 100%;
        }
        .header{
            background-color: #33454d;
            color: #fff;
        }
        .header>h1{
            font-size: 48px;
            margin:auto;
            top:0;bottom: 0;
            padding:50px ;
        }
        .wrap{
            margin: 50px 300px 0 50px;

        }
        .article{
            display: block;
            margin-bottom: 10px;
            background-color: #fff;
            overflow: hidden;
        }
        .article:hover{
            box-shadow: 1px 1px 6px 0px #888;
        }
        .article-item{
            padding: 20px;
        }
        .article-item:hover{
        }
        .article-head{
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
        .article-head h1{display: block}
        .article-head time{
            margin-top: -23px;
            float:right;
        }
        .article-section h4 {padding:10px 0;}
        .article-item p{padding-top:10px ;} 
        .article-footer{
            padding-top: 30px;

        }
        .article-footer a{
            margin-top: -20px;
            float:right;
        }
/*        .sidebar{
            width:200px;
            position: absolute;
            right:0;
            top:258px;
            margin: 50px;
            background-color: #33454d;
        }*/
        .sidebar{
            box-shadow: 1px 1px 6px 0px #888;
        }
        .sidebar span{
            display: block;
            padding:20px 20px;
        }
        .sidebar a{
            display: block;
            position: relative;
            color:#fff;
            padding:10px 20px;
        }
        .sidebar a:after{
            position: absolute;
            box-sizing: border-box;
            top:0;
            left:0;
            height:100%;
            width:0;
            overflow: hidden;
            word-break:keep-all;
            white-space:nowrap;
            padding: 10px 0px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            content: attr(data-title);;
            background-color: #e87e6f;
            -webkit-transition: width 0.1s,padding-left 0.1s;
            -moz-transition: width 0.1s,padding-left 0.1s;
            -ms-transition: width 0.1s,padding-left 0.1s;
            -o-transition: width 0.1s,padding-left 0.1s;
            transition: width 0.1s,padding-left 0.1s;
        }
        .sidebar a:hover{
        }
        .sidebar a:hover:after{
            padding: 10px 30px;
            width:100%;
        }
        @media only screen and (max-width: 768px) {
            .wrap{
            margin: 50px 50px 0 50px;
            }
            .b2Top,.sidebar{
                display: none;
            }
        }
        @media only screen and (min-width: 768px) {
            .sidebar{
                width:200px;
                position: absolute;
                right:0;
                top:258px;
                margin: 50px;
                color:#fff;
                background-color: #33454d;
            }
            .wrap{
            margin: 50px 300px 0 50px;
            }
        }
        .sidebar.scroll{
            position: fixed;
            top:0px;
        }
        .b2Top{
            display: block;
            position: fixed;
            opacity:0;
            background-image: url(../img/b2top.png) ;
            background-color: rgba(255,255,255,0.5);
            width:50px;
            height: 50px;
            right:240px;
            bottom:20px;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            background-position: center;

        }
        .b2Top:hover{
            background-color: rgba(255,255,255,1);
            box-shadow: 1px 1px 6px 0px #888;
        }
        .b2Top.show{
            opacity:1;
            transition: opacity 0.5s;
        }
